@model List<Zapatilla>

<h1>Insertar nuevas imagenes</h1>
<button id="btnNuevaCaja" class="btn btn-secondary my-3">
    Nueva caja imagen
</button>
<form method="post">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-6">
            <select class="mb-3 form-select" name="idzapatilla">
                @foreach (Zapatilla zap in Model)
                {
                    <option value="@zap.IdProducto">@zap.Nombre</option>
                }
            </select>
        </div>
        <div class="col-6">
            <button class="btn btn-primary w-100">
                Insertar imágenes
            </button>
        </div>
    </div>
    <input type="text" name="imagenes" class="form-control" />

</form>


@section Scripts {
    <script>
        $(function () {
            $("#btnNuevaCaja").on("click", function () {
                let caja = $("<input>").attr("type", "text").attr("name", "imagenes")
                    .addClass("form-control mt-3");
                $("form").append(caja);
            });
        });
    </script>
}